[submodule "moos-ivp-wilbur"]
	path = moos-ivp-wilbur
	url = git@github.com:Laipi1240/moos-ivp-wilbur.git
[submodule "moos-ivp"]
	path = moos-ivp
	url = git@github.com:JetSeaAI/moos-ivp.git
[submodule "ros2_ws/src/ros1_bridge"]
	path = ros2_ws/src/ros1_bridge
	url = git@github.com:wilbur1240/ros1_bridge.git
[submodule "catkin_ws/src/moos-ros-bridge"]
	path = catkin_ws/src/moos-ros-bridge
	url = git@github.com:ARG-NCTU/moos-ros-bridge.git
[submodule "ros2_ws/src/moos_ros2_bridge"]
	path = ros2_ws/src/moos_ros2_bridge
	url = git@github.com:ARG-NCTU/moos_ros2_bridge.git
